# This file contains pin mappings for the LDO Nitehawk-SB Toolboard
# To use this config, the firmware should be compiled for the Raspberry Pi RP2040
# Make sure to include this config *at the end* of printer.cfg to overwrite the relevent sections

# See https://docs.ldomotors.com/en/voron/nitehawk-sb#firmware-setup-and-update
# For instructions on uploading/updating klipper firmware to the PCB

## LDO Nitehawk-SB Toolboard Partial Config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] sections

## *MAKE SURE* to include this partial config file *AFTER* the main controller config. 
## This will ensure the relavent sections are overwritten by the pin mappings specified here.

[mcu nhk]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6626005A7562B36-if00
#restart_method: command
##--------------------------------------------------------------------

#####################################################################
#   Endstops
#####################################################################

###  See [sensorless.cfg]

#####################################################################
# 	Extruder
#####################################################################

###  See [pinter.cfg]

#####################################################################
#   Fan Control
#####################################################################
## Power Cooling Fan
[fan]
pin: nhk:gpio6
tachometer_pin: nhk:gpio17
tachometer_ppr: 2
Shutdown_speed: 0 

## Hot End Fan
[heater_fan hotend_fan]
pin: nhk:gpio5
#tachometer_pin: nhk:gpio16
#tachometer_ppr: 2
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
Shutdown_speed: 0 

#####################################################################
# 	Probe
#####################################################################

[probe]
pin: !nhk:gpio10
x_offset: 0
y_offset: 0
z_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

###------------ TAP G Code ------------###

activate_gcode:
    {% set PROBE_TEMP = 160 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}
    

#####################################################################
#   Lights
#####################################################################
## Stealthburner Headlights
[neopixel headlight]
pin: nhk:gpio7

## PCB Activity Light
[output_pin act_led]
pin: !nhk:gpio8

#####################################################################
#   Accelerometer
#####################################################################
[adxl345]
cs_pin: nhk:gpio21
spi_software_sclk_pin: nhk:gpio18
spi_software_mosi_pin: nhk:gpio20
spi_software_miso_pin: nhk:gpio19

#[resonance_tester]
#accel_chip: adxl345
##--------------------------------------------------------------------
#Uncomment below for 250mm build
#probe_points:
   #125, 125, 20

##--------------------------------------------------------------------

#####################################################################
#   Thermistors
# #####################################################################
## External Chamber Thermistor Port
# [temperature_sensor chamber_temp]
# sensor_type: Generic 3950
# sensor_pin: nhk:gpio28
# min_temp: 0
# max_temp: 100
# gcode_id: chamber_th

[thermistor CMFB103F3950FANT]
temperature1: 0.0
resistance1: 32116.0
temperature2: 40.0
resistance2: 5309.0
temperature3: 80.0
resistance3: 1228.0

[temperature_sensor Nighthawk]
## Nitehawk PCB Sensor
sensor_type: CMFB103F3950FANT
sensor_pin: nhk:gpio26
pullup_resistor: 2200
min_temp: 0
max_temp: 100
gcode_id: chamber_th
